////////// MAX-WIDTH: 950PX /////////

@media(max-width:950px) {
    /// HOMEPAGE /// 
    header {
        background-position:60%;
        height: 75vh;
        .headerImgContainer {
            bottom:-80px;
        }
        nav {
            ul{
                background-color: rgba(23,27,14,0.7);
                padding: 2px 3px 4px 3px;
            }
        }
        
    }
    
    .about {
        margin-top: 140px;
    }
    .aboutContainer{
        .mallInfo{
            .infoTextContainer {
                margin-left:25px;
            }
        }
    }

    .highlights {
        min-height: 60vh;
        .burgerTextContainer,
        .newDishTextContainer {
            margin: 60px 0;
            width:calc(50% - 40px);
        }
        .burgerImgContainer,
        .newDishImgContainer {
            height: 375px;
            width:calc(50% - 40px);
        }
    }

    .nature {
        .natureTextContainer {
            width:65%;
        }
        .natureImgContainer {
            height:350px;
            img{
                margin-top:30px;
            }
        }
    }

    /// BLOG PAGE ///
    .blogHeader {
        height:55vh;
        h1 {
            margin-top:100px;
            padding-top:10px;
            display:inline-block;
            background-color: rgba(23,27,14,0.7);
        }
    }
    .blogMain {
        .stickyContainer {
            width: 30%;
            margin-right:0;
        }
    }
    .feature {
        .featureTextContainer {
            width: 85%;
            margin-left:15%;
        }
    }

    /// CONTACT PAGE ///
    .contactHeader {
        height:55vh;
        ul{
            li {
            background-color:transparent;
            }
        }
    }
    .contactContainer {
        .contactTextContainer {
            width:35%;
            margin-right: 5%;
        }
    }

    /// FORMS ///
    .contactContainer {
        .contactForm {
            top: -80px;
            input {
                width: 100%;
                }
            input[type="text"] {
                margin-bottom: 30px;
            }
        }
    }
    
}

////////// MAX-WIDTH: 750PX ////////////
@media(max-width:750px) {
    /// NAVIGATION /// 
    header,
    .contactHeader {
        nav {
            display: inline-block;
            .hamburgerMenu {
                display:inline-block;
                position:absolute;
                top: 10px;
                right: 10px;
                color: $accent;
                font-size: 40px;
            }
            input[type="checkbox"]:checked ~ ul {
                right: 10px;
            }
            ul {
                flex-direction: column;
                background-color: transparent;
                position: absolute;
                right: -175px;
                
                top: 60px;
                li {
                    border-bottom: 2px solid $white;
                    padding: 5px 40px 5px 20px;
                    background-color: $secondary;
                    margin-right:0;
                }
            }
        }
    }

    header {
        li {
            a{
                &:hover,
                &:focus {
                    color: $accent;
                    border-bottom: 0;
                }
            }
        }    
    }

    /// HOMEPAGE///
    .homeHeader {
        height: 60vh;
    }

    .aboutContainer {
        .mallInfo {
            width:85%;
            margin: 0 auto 50px auto;
        }
    }

    .highlights{
        .highlightsContainer {
            flex-direction: column;
            align-items:center;
            div {
                width:85%;
            }
            .burgerImgContainer,
            .newDishImgContainer {
                position:relative;
                width:calc(100% - 15px);
            }
            .newDishImgContainer {
                bottom:0;
            }
            .burgerTextContainer,
            .newDishTextContainer {
                display: flex;
                flex-direction:column;
                align-items: center;
                margin: 40px auto 50px auto;
            }
            .newDishTextContainer {
                margin-top: 50px;
            }
        }
    }

    .bannerImgContainer {
        img {
            min-height:215px;
            object-fit: cover;
        }
    }

    .giveawayContainer {
        margin: 80px auto;
        width:85%;
    }

    .atmosphere {
        margin: 80px auto;
    }

    .nature {
        flex-direction:column;
        .natureImgContainer {
            img {
                max-height:300px;
                width: 70%;
                margin: 0 auto;
            }
        }
        .natureTextContainer {
            display:flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            margin-left:0;
            h2 {
                text-align: center;
            }
        }
    }

    /// BLOG PAGE /// 
    .blogMain {
        flex-direction:column;
        .stickyContainer {
            width:100%;
        }
        .blogContent {
            width:100%;
            margin-left: 0;
            .employment {
                border: none;
            }
            .wrapper2 {
                width: 90%;
            }
        }
        
    }
    .employmentTextContainer {
        margin-top:75px;
    }
    .employmentImgContainer {
        width: 90%;
        margin: 30px auto 0 auto;
        max-height: 450px;
        position:static;
        img{
            height:100%;
        }
    }

    .feature {
        display:flex;
        flex-direction:row;
        margin-top:30px;
        width: 90%;
        .featureImgContainer {
            z-index:30;
            height:200px;
            width:200px;
            box-shadow: 10px 10px 0 $secondary;
            img {
            width: 100%;
            height:100%;
            object-fit:cover;
            }
        }
        .featureTextContainer {
            width: 70%;
            margin-left: 0;
            top:0px;
            display:flex;
            justify-content: space-between;
            div {
                width:45%;
                p,
                li {
                    font-size:0.8rem;
                    line-height:20px;
                }
                h4 {
                    font-size: 1.1rem;
                }
            }
        }    
    }

    /// CONTACT PAGE ///
    .contactContainer {
        flex-direction: column-reverse;
        .contactTextContainer {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 75%;
            margin: -10px 0 40px 0;
        }
        form {
            width: calc(100% - 15px);
            left: -7px;
        }
    }
}
