/////////// ABOUT SECTION ////////////
.about {
    margin-top: 200px;
}

.aboutContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .mallInfo {
        width: 45%;
        display:flex;
        margin-bottom: 50px;
        position:relative;
        .infoTextContainer {
            margin-left: 35px;
            width: 80%;
            h2 {
                margin-bottom: 18px;
            }
        }
    }
}

.circle {
    height: 45px;
    width:45px;
    border: 2px solid $accent;
    border-radius: 50%;
    background-color: $accent;
    display:flex;
    justify-content: center;
    align-items: center;
}

//////////// HIGHLIGHTS SECTION ///////////

.highlights {
    min-height:70vh;
    background-color: $secondary;
    position:relative;
    .highlightsContainer {
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
        div {
        width: calc(50% - 50px);
        }
    }
    .dishFlex {
        flex-direction:row-reverse;
    }
}

.burgerImgContainer,
.newDishImgContainer {
    position:absolute;
    height:400px;
    img {
        width:100%;
        height: 100%;
        object-fit:cover;
    }
}

.burgerImgContainer {
    left:0;
    top: -30px;
    img {
        box-shadow: 15px 15px 0 $accent;
    }
}

.newDishImgContainer {
    right:0;
    bottom: -20px;
    img {
        box-shadow: -15px 15px 0 $accent;
    }
}

.burgerTextContainer,
.newDishTextContainer {
    margin: 80px 0;
    p {
        margin: 20px 0 30px 0;
    }
}

// get rid of position absolute, change it to relative
// justify-content to flex-start instead of flex-end
// get rid of height restrictions 
// get rid of wrapper in HTML 

///////// GIVEAWAY SECTION/////////

.giveawayContainer {
    width: 80%;
    margin: 110px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    p {
        margin: 30px auto;
    }
}

///////////// BANNER SECTION /////////////
.bannerImgContainer {
    width: 100%;
    img {
        object-fit:cover;
        object-position: center;
        width:100%;
    }
}

///////////// ATMOSPHERE /////////////

.atmosphere {
    margin: 110px auto;
}

.nature {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .natureTextContainer {
        width: 70%;
        margin-left: 55px;
        p {
            margin: 20px auto;
        }
    }
    .natureImgContainer {
        margin-left: 15px;
        img {
            height:100%;
            object-fit: cover;
            box-shadow: -15px 15px 0 $accent;
        }
    }
}

/////////////// GALLERY SECTION /////////////

.gallery {
    background-color: $secondary;
    padding: 70px 0;
    .wrapper {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        .galleryImgContainer {
            width: calc((100% / 3) - 30px);
            img {
                object-fit: cover;
            }
        }
    }
}


/////////////// FOOTER ///////////////

footer {
    background-color: $black;
    text-align: center;
    p {
        padding: 10px;
    }
}

//////////// BLOG PAGE //////////////

//// Blog-Layout ////
.blogMain {
    display:flex;
    flex-direction: row;
    .stickyContainer {
        width: calc(30% - 50px);
        margin-right: 50px;
    }
    .blogContent{
        width: calc(70% - 50px);
        margin-left: 50px;
        .employment {
            border-left: 5px solid $accent;
            border-bottom: 5px solid $accent;
        }
    }
}

//// Blog- Main Content ////
.employmentImgContainer {
    position: relative;
    top: -50px;
    left:10px;
    width:calc(100% - 10px);
    img {
        box-shadow: -15px 15px 0 $accent;
    }
}

.wrapper2 {
    width: 75%;
    max-width: 650px;
    margin: 0 auto;
}

.employmentTextContainer {
    margin: 50px 0 75px 0;
    h5 {
        margin:15px 0 25px 0;
        font-weight: 600;
    }
    p {
        margin-bottom: 20px;
    }
}

.comments {
    margin: 50px 0 75px 0;
    h3{
        margin-bottom: 20px;
    }
    .commentContainer {
        display:flex;
        flex-direction:row;
        margin-bottom:60px;
        .commentTextContainer {
            width:80%;
            padding-left:30px;
            h5 {
                color:$accent;
            }
        }
        .commentImgContainer {
            img{
            height:90px;
            margin-top:6px;
            }
        }
    }
}

//// Blog-Aside ////

.feature {
    position:sticky;
    top:15px;
    margin-top:90px;
    .featureImgContainer {
        position:relative;
        top: -15px;
        overflow:hidden;
        img {
            width: calc(100% - 15px);
            box-shadow: 15px 15px 0 $secondary;
        }
    }
    .featureTextContainer {
        position:relative;
        top:-15px;
        width:80%;
        height:100%;
        margin-left:20%;
        padding:15px 15px 0 15px;
        div {
            padding: 20px 0;
        }
    }
}


.featureTextContainer{
    background-color: $secondary;
    h4{
        margin-bottom:10px;
    }
    ul{
        list-style:disc;
        list-style-position: inside;
        li {
        color:$white;
        }
    }
}

//////////// CONTACT PAGE /////////////

.contactContainer {
    display:flex;
    flex-direction:row;
    align-items: center;
    .contactTextContainer {
        width:30%;
        margin-top:-40px;
        ul {
            display:flex;
            flex-direction:row;
        }
    }
    .contactForm {
        position:relative;
        top:-120px;
    }
}

ul{
    li{
        margin-right:15px;
        i {
            font-size:1.25rem;
            color:$accent;
        }
    }
}

.contactInfo {
    p{
        &:first-child{
            margin-bottom:20px;
        }
    }   
}