// sunflower yellow #FFD300
// white #FFF
// almost black #171B0E
// black #OFOFOF
// pine #2B331B

// H1 + P : JosefinSans, Semibold
// Headings: JosefinSans, Regular 
// Body Text: Barlow, Regular 

$bodyFont: 'Barlow';
$headingFont: 'Josefin Sans';

$background: #2B331B;
$secondary: #171B0E;
$accent: #FFd300;
$white: #FFF;
$black: #0F0F0F;