html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  background-color: #2B331B;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans";
  color: #FFF;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

.giveaway h2,
.atmosphere h2,
.employment h2 {
  color: #FFd300;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.3px;
}

h4 {
  color: #FFd300;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.8px;
}

h5, li, p {
  font-family: "Barlow";
  color: #FFF;
  font-size: 1rem;
  line-height: 28px;
}

ul {
  list-style: none;
}
ul li a {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 0 0 5px 0;
}
ul li a:hover, ul li a:focus {
  border: none;
  border-bottom: #FFd300 3px solid;
  outline: 0;
}

a {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
a.yellow {
  background-color: #FFd300;
  color: #0F0F0F;
}
a.black {
  background-color: #0F0F0F;
}

button {
  width: 100%;
  background-color: #FFd300;
  border: none;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  line-height: 41.6px;
  cursor: pointer;
}

header {
  height: 90vh;
  background-image: url(../assets/home-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
header .headerImgContainer {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -170px;
}
header .headerImgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  padding-top: 40px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  margin-right: 40px;
  padding: 0 5px;
}

h1 {
  max-width: 40%;
  margin-top: 70px;
  position: relative;
  z-index: 10;
}
h1 span {
  display: inline-block;
  background-color: #FFF;
  color: #0F0F0F;
  padding: 10px 5px 0 5px;
  margin-bottom: 10px;
}

.blogHeader {
  height: 65vh;
  background-image: url(../assets/blog-header2.jpg);
  background-position: 75%;
}
.blogHeader h1 {
  margin-top: 100px;
}

.contactHeader {
  height: 65vh;
  background-image: url(../assets/contact-header.jpg);
  background-position: 75%;
}
.contactHeader h1 {
  max-width: 70%;
  margin-top: 100px;
}

.about {
  margin-top: 200px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutContainer .mallInfo {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}
.aboutContainer .mallInfo .infoTextContainer {
  margin-left: 35px;
  width: 80%;
}
.aboutContainer .mallInfo .infoTextContainer h2 {
  margin-bottom: 18px;
}

.circle {
  height: 45px;
  width: 45px;
  border: 2px solid #FFd300;
  border-radius: 50%;
  background-color: #FFd300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlights {
  min-height: 70vh;
  background-color: #171B0E;
  position: relative;
}
.highlights .highlightsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.highlights .highlightsContainer div {
  width: calc(50% - 50px);
}
.highlights .dishFlex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.burgerImgContainer,
.newDishImgContainer {
  position: absolute;
  height: 400px;
}
.burgerImgContainer img,
.newDishImgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.burgerImgContainer {
  left: 0;
  top: -30px;
}
.burgerImgContainer img {
  -webkit-box-shadow: 15px 15px 0 #FFd300;
          box-shadow: 15px 15px 0 #FFd300;
}

.newDishImgContainer {
  right: 0;
  bottom: -20px;
}
.newDishImgContainer img {
  -webkit-box-shadow: -15px 15px 0 #FFd300;
          box-shadow: -15px 15px 0 #FFd300;
}

.burgerTextContainer,
.newDishTextContainer {
  margin: 80px 0;
}
.burgerTextContainer p,
.newDishTextContainer p {
  margin: 20px 0 30px 0;
}

.giveawayContainer {
  width: 80%;
  margin: 110px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.giveawayContainer p {
  margin: 30px auto;
}

.bannerImgContainer {
  width: 100%;
}
.bannerImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.atmosphere {
  margin: 110px auto;
}

.nature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nature .natureTextContainer {
  width: 70%;
  margin-left: 55px;
}
.nature .natureTextContainer p {
  margin: 20px auto;
}
.nature .natureImgContainer {
  margin-left: 15px;
}
.nature .natureImgContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -15px 15px 0 #FFd300;
          box-shadow: -15px 15px 0 #FFd300;
}

.gallery {
  background-color: #171B0E;
  padding: 70px 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper .galleryImgContainer {
  width: calc((100% / 3) - 30px);
}
.gallery .wrapper .galleryImgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #0F0F0F;
  text-align: center;
}
footer p {
  padding: 10px;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blogMain .stickyContainer {
  width: calc(30% - 50px);
  margin-right: 50px;
}
.blogMain .blogContent {
  width: calc(70% - 50px);
  margin-left: 50px;
}
.blogMain .blogContent .employment {
  border-left: 5px solid #FFd300;
  border-bottom: 5px solid #FFd300;
}

.employmentImgContainer {
  position: relative;
  top: -50px;
  left: 10px;
  width: calc(100% - 10px);
}
.employmentImgContainer img {
  -webkit-box-shadow: -15px 15px 0 #FFd300;
          box-shadow: -15px 15px 0 #FFd300;
}

.wrapper2 {
  width: 75%;
  max-width: 650px;
  margin: 0 auto;
}

.employmentTextContainer {
  margin: 50px 0 75px 0;
}
.employmentTextContainer h5 {
  margin: 15px 0 25px 0;
  font-weight: 600;
}
.employmentTextContainer p {
  margin-bottom: 20px;
}

.comments {
  margin: 50px 0 75px 0;
}
.comments h3 {
  margin-bottom: 20px;
}
.comments .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}
.comments .commentContainer .commentTextContainer {
  width: 80%;
  padding-left: 30px;
}
.comments .commentContainer .commentTextContainer h5 {
  color: #FFd300;
}
.comments .commentContainer .commentImgContainer img {
  height: 90px;
  margin-top: 6px;
}

.feature {
  position: sticky;
  top: 15px;
  margin-top: 90px;
}
.feature .featureImgContainer {
  position: relative;
  top: -15px;
  overflow: hidden;
}
.feature .featureImgContainer img {
  width: calc(100% - 15px);
  -webkit-box-shadow: 15px 15px 0 #171B0E;
          box-shadow: 15px 15px 0 #171B0E;
}
.feature .featureTextContainer {
  position: relative;
  top: -15px;
  width: 80%;
  height: 100%;
  margin-left: 20%;
  padding: 15px 15px 0 15px;
}
.feature .featureTextContainer div {
  padding: 20px 0;
}

.featureTextContainer {
  background-color: #171B0E;
}
.featureTextContainer h4 {
  margin-bottom: 10px;
}
.featureTextContainer ul {
  list-style: disc;
  list-style-position: inside;
}
.featureTextContainer ul li {
  color: #FFF;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactContainer .contactTextContainer {
  width: 30%;
  margin-top: -40px;
}
.contactContainer .contactForm {
  position: relative;
  top: -120px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
ul li {
  margin-right: 15px;
}
ul li i {
  font-size: 1.25rem;
  color: #FFd300;
}

.contactInfo p:first-child {
  margin-bottom: 20px;
}

form input {
  width: 46%;
  border: none;
  border-bottom: 2px solid #FFd300;
  padding: 0 0 20px 20px;
  margin-bottom: 20px;
  background-color: #2B331B;
  color: #FFF;
}
form input::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form input::-moz-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form input:-ms-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form input::-ms-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form input::placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form input[type=text] {
  margin-right: 5%;
}
form textarea {
  background-color: #2B331B;
  border: 2px solid #FFd300;
  color: #FFF;
  margin: 20px 0 40px 0;
  width: 100%;
  resize: none;
  padding: 20px 0 0 20px;
}
form textarea::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form textarea::-moz-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form textarea:-ms-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form textarea::-ms-input-placeholder {
  opacity: 1;
  font-family: "Barlow";
}
form textarea::placeholder {
  opacity: 1;
  font-family: "Barlow";
}

form.contactForm {
  background-color: #171B0E;
  padding: 50px 25px;
  -webkit-box-shadow: 15px 15px 0 #FFd300;
          box-shadow: 15px 15px 0 #FFd300;
}
form.contactForm input {
  background-color: #171B0E;
}
form.contactForm textarea {
  background-color: #171B0E;
}

@media (max-width: 950px) {
  .homeHeader {
    background-position: 60%;
    height: 75vh;
  }
  .homeHeader .headerImgContainer {
    bottom: -80px;
  }
  .homeHeader li {
    background-color: rgba(23, 27, 14, 0.7);
    padding: 2px 3px 4px 3px;
  }

  .about {
    margin-top: 140px;
  }

  .aboutContainer .mallInfo .infoTextContainer {
    margin-left: 25px;
  }

  .highlights {
    min-height: 60vh;
  }
  .highlights .burgerTextContainer,
.highlights .newDishTextContainer {
    margin: 60px 0;
    width: calc(50% - 40px);
  }
  .highlights .burgerImgContainer,
.highlights .newDishImgContainer {
    height: 375px;
    width: calc(50% - 40px);
  }

  .nature .natureTextContainer {
    width: 65%;
  }
  .nature .natureImgContainer {
    height: 350px;
  }
  .nature .natureImgContainer img {
    margin-top: 30px;
  }

  .blogHeader {
    height: 50vh;
  }
  .blogHeader li {
    background-color: rgba(23, 27, 14, 0.7);
    padding: 2px 3px 4px 3px;
  }
  .blogHeader h1 {
    margin-top: 100px;
    padding-top: 10px;
    display: inline-block;
    background-color: rgba(23, 27, 14, 0.7);
  }

  .blogMain .stickyContainer {
    width: 30%;
    margin-right: 0;
  }

  .feature .featureTextContainer {
    width: 85%;
    margin-left: 15%;
  }

  .contactHeader {
    height: 50vh;
  }

  .contactContainer .contactTextContainer {
    width: 35%;
    margin-right: 5%;
  }

  form input {
    width: 100%;
  }
  form input[type=text] {
    margin-bottom: 30px;
  }
}
@media (max-width: 750px) {
  .homeHeader {
    height: 60vh;
  }

  .aboutContainer .mallInfo {
    width: 85%;
    margin: 0 auto 50px auto;
  }

  .highlights .highlightsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .highlights .highlightsContainer div {
    width: 85%;
  }
  .highlights .highlightsContainer .burgerImgContainer,
.highlights .highlightsContainer .newDishImgContainer {
    position: relative;
    width: calc(100% - 15px);
  }
  .highlights .highlightsContainer .newDishImgContainer {
    bottom: 0;
  }
  .highlights .highlightsContainer .burgerTextContainer,
.highlights .highlightsContainer .newDishTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px auto 50px auto;
  }
  .highlights .highlightsContainer .newDishTextContainer {
    margin-top: 50px;
  }

  .bannerImgContainer img {
    min-height: 215px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .giveawayContainer {
    margin: 80px auto;
    width: 85%;
  }

  .atmosphere {
    margin: 80px auto;
  }

  .nature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nature .natureImgContainer img {
    max-height: 300px;
    width: 70%;
    margin: 0 auto;
  }
  .nature .natureTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .nature .natureTextContainer h2 {
    text-align: center;
  }

  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMain .stickyContainer {
    width: 100%;
  }
  .blogMain .blogContent {
    width: 100%;
    margin-left: 0;
  }
  .blogMain .blogContent .employment {
    border: none;
  }
  .blogMain .blogContent .wrapper2 {
    width: 90%;
  }

  .employmentTextContainer {
    margin-top: 75px;
  }

  .employmentImgContainer {
    width: 90%;
    margin: 30px auto 0 auto;
    max-height: 450px;
    position: static;
  }
  .employmentImgContainer img {
    height: 100%;
  }

  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    width: 90%;
  }
  .feature .featureImgContainer {
    z-index: 30;
    height: 200px;
    width: 200px;
    -webkit-box-shadow: 10px 10px 0 #171B0E;
            box-shadow: 10px 10px 0 #171B0E;
  }
  .feature .featureImgContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .feature .featureTextContainer {
    width: 70%;
    margin-left: 0;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feature .featureTextContainer div {
    width: 45%;
  }
  .feature .featureTextContainer div p,
.feature .featureTextContainer div li {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .feature .featureTextContainer div h4 {
    font-size: 1.1rem;
  }
}